.content-wrapper {
    padding: 20px;
}

.active-toggle {
    margin: 16px;
    padding: 1%;
    box-sizing: border-box;
    width: calc(100% - 32px);
    border-radius: 10px;
    background-color: darkgray;
}

ion-card {
    margin: 0px;
}

.segment-button-checked{
    background: #FFF;
    color: var(--ion-color-primary);
    border-radius: 5px;
}

.text-date{
    color:black;
}
.text-price{
    color:black;
    float: right;

}
.text-info{
    font-size: 14px;
}
.myicon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.myiconm{
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-left: 5px;
}

.details-button {
    font-size: smaller ;
    border-radius: 15px;
    margin-top: 10px;
    --ion-color-contrast: white !important;
}

.add-order-button{
    width: 99%;
    --border-radius: 20px 20px 0 0;
    height: 60px;
}

ion-modal{
    top:300px !important;
}

.add-order-button-bottom {
    position: fixed;
    bottom: 0;
}

.ion-page {
    overflow: scroll;
    justify-content: center;
}

.icon{
    height: 1em;
    width: 1em;
    margin-right: 10px;
    float: left;
  }

.alert-order span{
    color:black;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

.centerLayer {
    z-index: 200;
    width: 400px; /* Ширина слоя в пикселах */
    margin: 0 auto; /* Отступ слева и справа */
    background: #fc0; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    text-align: left; /* Выравнивание содержимого слоя по левому краю */
   }
